streamlit>=1.44.0
python-dotenv>=1.1.0
rich>=13.9.4
psycopg2-binary>=2.9.9
pandas>=2.2.0

langchain>=1.0.0
langchain-core>=1.0.0
langchain-google-genai>=2.0.0
langchain-groq>=0.3.1
langchain-ollama>=0.3.0
langchain-together>=0.3.0
langchain-perplexity>=1.0.0

pytest>=8.0.0
